@media screen and (max-width:400px) {
    .nav-container{
        flex-direction: column;
    }
    .logo-container{
        margin-left:0px;
    }
    .nav-item-container{
       flex-direction: column;
       width: 0%;
    }
    .nav-item-container a{
        margin-top: 20px;
    }
    .nav-item-container .Follow-us{
        margin-bottom: 10px;
    }
    .banner-img{
        width: 100%;
    }
    .banner-text{
        width: 100%;
    }
    .banner-containner{
        flex-direction: column;
        margin: 130px auto 0;
    }
    .banner-text{
        text-align: center;
    }
    .game-banner-comtainer{
        flex-direction: column;
    }
    .game-banner-text{
        text-align: center;

    }

}